<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ClassPlanMapper">
    
    <resultMap id="ClassPlanResult" type="ClassPlan">
    <id property="planId" column="plan_id"/>
    <result property="title" column="title"/>
    <result property="planType" column="plan_type"/>
    <result property="content" column="content"/>
    <result property="views" column="views"/>
    <result property="downloads" column="downloads"/>
    <result property="rating" column="rating"/>
    <result property="rateCount" column="rate_count"/>
    <result property="note1" column="note1"/>
    <result property="note2" column="note2"/>
    <result property="note3" column="note3"/>
    <result property="avatar" column="avatar"/>
    <!-- 其他字段映射... -->
    </resultMap>

    <sql id="selectClassPlanVo">
    select plan_id, title, plan_type, content, views, downloads, 
           rating, rate_count, note1, note2, note3, avatar,
           create_by, create_time, update_by, update_time, remark
    from class_plan
    </sql>

    <select id="selectClassPlanList" parameterType="ClassPlan" resultMap="ClassPlanResult">
        <include refid="selectClassPlanVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="planType != null  and planType != ''"> and plan_type like concat('%', #{planType}, '%')</if>
            <if test="grade != null  and grade != ''"> and grade like concat('%', #{grade}, '%')</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="peopleCount != null "> and people_count = #{peopleCount}</if>
            <if test="remark != null  and remark != ''"> and remark like concat('%', #{remark}, '%')</if>
        </where>
    </select>
    
    <select id="selectClassPlanByPlanId" parameterType="Long" resultMap="ClassPlanResult">
        <include refid="selectClassPlanVo"/>
        where plan_id = #{planId}
    </select>

    <insert id="insertClassPlan" parameterType="ClassPlan" useGeneratedKeys="true" keyProperty="planId">
        insert into class_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="planType != null">plan_type,</if>
            <if test="grade != null">grade,</if>
            <if test="avatar != null">avatar,</if>
            <if test="content != null">content,</if>
            <if test="peopleCount != null">people_count,</if>
            <if test="note1 != null">note1,</if>
            <if test="note2 != null">note2,</if>
            <if test="note3 != null">note3,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="planType != null">#{planType},</if>
            <if test="grade != null">#{grade},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="content != null">#{content},</if>
            <if test="peopleCount != null">#{peopleCount},</if>
            <if test="note1 != null">#{note1},</if>
            <if test="note2 != null">#{note2},</if>
            <if test="note3 != null">#{note3},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateClassPlan" parameterType="ClassPlan">
        update class_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="planType != null">plan_type = #{planType},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="content != null">content = #{content},</if>
            <if test="peopleCount != null">people_count = #{peopleCount},</if>
            <if test="note1 != null">note1 = #{note1},</if>
            <if test="note2 != null">note2 = #{note2},</if>
            <if test="note3 != null">note3 = #{note3},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where plan_id = #{planId}
    </update>

    <delete id="deleteClassPlanByPlanId" parameterType="Long">
        delete from class_plan where plan_id = #{planId}
    </delete>

    <delete id="deleteClassPlanByPlanIds" parameterType="String">
        delete from class_plan where plan_id in 
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </delete>
</mapper>